@page "/"

<PageTitle>Uttam Calculators</PageTitle>

<h1 class="mb-5">Uttam Calculators</h1>

<MudGrid>
    <!-- First Section -->
    <MudItem xs="12" md="12">
        <span>Test. Discover a wide range of online calculators, from financial planning like SIP calculator, Lump Sum Calculator, SWP calculator to numerology and astrology. Simplify your calculations and gain insights into your finances and future with our easy-to-use tools.</span>
    </MudItem>
</MudGrid>

@* <MudText Typo="Typo.h6"><img src="/logo.png" class="logo-img" /> is @Text</MudText>
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ButtonOnClick">@ButtonText</MudButton>
@code {
    public string Text { get; set; } = "????";
    public string ButtonText { get; set; } = "Click Me";
    public int ButtonClicked { get; set; }

    void ButtonOnClick()
    {
        ButtonClicked += 1;
        Text = $"Awesome x {ButtonClicked}";
        ButtonText = "Click Me Again";
    }
} *@
