@page "/Privacy"

<PageTitle>Privacy Policies</PageTitle>

<h1 class="mb-5">Privacy Policies</h1>

<MudText>At Uttam Calculators, we value your privacy and are committed to safeguarding your personal information. This policy outlines how we collect, use, and protect your data when you interact with our website and calculators.</MudText>
<br />
<h3>Information Collection:</h3>
<MudText>We may collect personal information such as name, email address, or payment details when you use our calculators, subscribe to updates, or make purchases. We may also gather non-personal information like browser type and device information for website optimization.</MudText>
<br />
<h3>Data Usage:</h3>

<MudText>
    Your personal information will only be used to enhance your experience with our calculators. We use it to:
    <ul>
        <li>Provide accurate results based on the data you input.</li>
        <li>Send updates or notifications you’ve opted into.</li>
        <li>Improve our tools and services based on aggregated usage data.</li>
    </ul>
</MudText>
<br />
<h3>Data Protection:</h3>
<MudText>We implement security measures to protect your personal data from unauthorized access, loss, or misuse. However, please note that no method of transmission over the internet is 100% secure.</MudText>
<br />
<h3>Third-Party Links:</h3>
<MudText>Our website may contain links to third-party sites. We are not responsible for the privacy practices of these websites. We encourage you to review their policies.</MudText>
<br />
<h3>Updates:</h3>
<MudText>
    We may update this Privacy Policy periodically. Please check this page for any changes.
    <br />
    By using our website, you consent to the collection and use of your information as outlined in this policy.
</MudText>