@page "/Terms"

<PageTitle>Terms of Service</PageTitle>

<h1 class="mb-5">Terms and Conditions</h1>

<MudText>Welcome to Uttam Calculators. By using our website and calculators, you agree to the following terms and conditions. Please review them carefully before proceeding.</MudText>
<br />

<h3>Use of Our Calculators:</h3>
<MudText>Our calculators are designed to provide estimates and insights based on the data you input. The results are for informational purposes only and should not be considered professional financial or legal advice.</MudText>
<br />

<h3>User Responsibilities:</h3>
<MudText>You agree to use the calculators responsibly and not for any unlawful purposes. You are responsible for the accuracy of the data you input into the calculators.</MudText>
<br />

<h3>Intellectual Property:</h3>
<MudText>All content, tools, and materials provided on this website are owned by Uttam Calculators. You may not reproduce or distribute our content without prior written consent.</MudText>
<br />

<h3>Limitation of Liability:</h3>
<MudText>We strive to ensure that the information provided by our calculators is accurate, but we cannot guarantee error-free results. We are not responsible for any damages resulting from the use of our tools.</MudText>
<br />

<h3>Changes to Terms:</h3>
<MudText>We reserve the right to modify these terms at any time. It is your responsibility to review this page periodically for any updates.</MudText>
<br />

<MudText>By using our website, you acknowledge that you have read and agree to our terms and conditions.</MudText>
